<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppVinho"
        tools:targetApi="31">
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.HomeActivity"/>
        <activity android:name=".View.TelaVinhosActivity"/>
        <activity android:name=".View.User.UserPedidosActivity"/>
        <activity android:name=".View.Representante.RepresentantePedidoActivity"/>
        <activity android:name=".View.Representante.DeletarPedidoActivity"/>
        <activity android:name=".View.Admin.CadastroVinhoActivity" />
        <activity android:name=".View.Admin.PainelAdmActivity" />
        <activity android:name=".View.Admin.CadastroClienteActivity" />
        <activity android:name=".View.Admin.ListaClientesActivity" />
        <activity android:name=".View.Admin.CadastroRepresentanteActivity" />
        <activity android:name=".View.Admin.UpdateVinhoActivity" />
        <activity android:name=".View.Admin.DeleteVinhoActivity" />
        <activity android:name=".View.Admin.DeleteRepresentanteActivity" />
        <activity android:name=".View.Admin.UpdateRepresentanteActivity" />
        <activity android:name=".View.Admin.UpdateClienteActivity" />
        <activity android:name=".View.TelaRepresentantesActivity" />
        <activity android:name=".View.PedidosActivity" />
        <activity android:name=".View.FormularioContatoActivity" />
        <activity android:name=".View.HistoriaActivity" />

    </application>

</manifest>